body
{
	padding:20px;
	margin:20px auto;
	width:300px;
	background-image:url('/recursos/imagenes/textura.jpg');
}
div
{
	border:3px solid #2D6367;
	border-radius:10px;
	padding:10px 10px 0px 10px;
	background-color:#F7C617;
}
div > p
{
	margin:10px 0px 25px 0px;
	padding:10px;
	background-color:white;
	border-radius:10px;
	height:20px;
}
div > p > span
{
	margin-top:-20px;
	padding:10px;
	border:5px solid white;
	background-color:red;
	border-radius:40px;
	color:white;
	width:30px;
	height:30px;
	display:block;
	text-align:center;
	font-size:25px;
	font-weight:bold;
}
table td
{
	border:1px inset black;
	border-radius:20px;
	background-color:white;
	width:25px;
	text-align:center;
	font-weight:bold;
}
table td.oculto
{
	visibility:hidden;
}
form
{
	padding:20px;
	text-align:center;
}
form input[type=submit]
{
	height:40px;
	width:115px;
	font-family:serif;
	background-color:transparent;
	background-image:url('/recursos/imagenes/boton.png');
	border:none;
	color:#68351F;
	cursor:pointer;
	background-size:100% 100%;
	font-weight:bold;
}
form input[type=submit]:hover
{
	background-image:url('/recursos/imagenes/boton3.png');
	color:#844204;
}
form input[type=submit]:active
{
	background-image:url('/recursos/imagenes/boton2.png');
	color:brown;
	cursor:progress;
}