body
{
	background-image:url('/recursos/imagenes/textura.jpg');
}
div
{
	margin:10px auto;
	width:330px;
	border:3px solid #2D6367;
	border-radius:10px;
	padding:12px;
	background-color:#F7C617;
}
div > p
{
	margin:10px 0px 25px 0px;
	padding:10px;
	background-color:white;
	border-radius:10px;
	height:20px;
}
div > p > span:first-child
{
	margin-top:-17px;
	padding:15px 10px 5px 10px;
	background-image:url('/recursos/imagenes/bolaRoja.png');
	background-size:100% 100%;
	border-radius:40px;
	color:brown;
	width:35px;
	height:35px;
	display:block;
	text-align:center;
	font-size:20px;
	font-weight:bold;
}
div > p > span + span
{
	display:block;
	margin:-45px 0px 0px 30px;
	padding:5px;
	color:#AD9B3E;
	font-size:20px;
	font-weight:bold;
	text-align:center;
}
table td
{
	border-radius:20px;
	background-color:white;
	width:35px;
	height:30px;
	text-align:center;
	font-weight:bold;
}
table td + td
{
	margin:10px;
}
table td.oculto
{
	visibility:hidden;
}
table td.boleto
{
	background-image:url('/recursos/imagenes/bolaAmarilla.png');
	background-size:100% 100%;
}
table td.actual
{
	background-image:url('/recursos/imagenes/bolaRoja2.png');
	background-size:100% 100%;
	color:white;
}
form
{
	padding:5px;
	text-align:center;
}
form input[type=number]
{
	border-radius:20px;
	width:30px;
	height:30px;
	font-family:serif;
	border:none;
	color:brown;
	font-weight:bold;
	font-size:14px;
}
form input[type=submit]
{
	margin-top:10px;
	height:30px;
	width:130px;
	font-family:serif;
	background-color:transparent;
	background-image:url('/recursos/imagenes/boton.png');
	background-size:100% 100%;
	border:none;
	color:#68351F;
	cursor:pointer;
	font-weight:bold;
}
form input[type=submit]:hover
{
	background-image:url('/recursos/imagenes/boton3.png');
	color:#844204;
}
form input[type=submit]:active
{
	background-image:url('/recursos/imagenes/boton2.png');
	color:brown;
	cursor:progress;
}
form input[type=submit]:disabled
{
	background-image:url('/recursos/imagenes/boton4.png');
	color:#977254;
}